<!DOCTYPE html>
<html>
<head>
  <title>front.phone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
  <script src="vtex-phone-bundle.min.js"></script>
  <script src="vtex-phone-filter.min.js"></script>


</head>
<body ng-app="app">

<div class="container" ng-controller="AppCtrl">
  <!-- Fork me on GitHub -->
  <a href="https://github.com/vtex/front.phone"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

  <div class="header">
    <h1>front.phone</h1>
    <p class="lead">A JS phone component.</p>
    <small>v3.5.0</small>
  </div>

  <div class="row main">
    <div class="getinfo col-md-4">
      <h4>Get Info</h4>
      <input type="text" class="form-control input-large phone" ng-model="getInfo.value">
      <pre class="result" ng-cloak>{{ getInfo.result }}</pre>
    </div>
    <div class="format col-md-4">
      <h4>Format</h4>
      <input type="text" class="form-control input-large phone" ng-model="format.value">
      <pre class="result" ng-cloak>{{ format.value | phone }}</pre>
    </div>
    <div class="validate col-md-4">
      <h4>Validate</h4>
      <input type="text" class="form-control input-large phone" ng-model="validate.value">
      <pre class="result" ng-cloak>{{ validate.result }}</pre>
    </div>
  </div>

  <div>
    <h4>AngularJS Support</h4>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" ng-cloak>
            {{ '552189898989' | phone:'international' }}
          </div>
          <div class="panel-footer" ng-non-bindable>
            {{ '552189898989' | phone:'international' }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" ng-cloak>
            {{ '552189898989' | phone:'national' }}
          </div>
          <div class="panel-footer" ng-non-bindable>
            {{ '552189898989' | phone:'national' }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" ng-cloak>
            {{ '552189898989' | phone:'local' }}
          </div>
          <div class="panel-footer" ng-non-bindable>
            {{ '552189898989' | phone:'local' }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" ng-cloak>
            {{ '2189898989' | phone:'international':55 }}
          </div>
          <div class="panel-footer" ng-non-bindable>
            {{ '2189898989' | phone:'international':55 }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" ng-cloak>
            {{ '2189898989' | phone:'national':55 }}
          </div>
          <div class="panel-footer" ng-non-bindable>
            {{ '2189898989' | phone:'national':55 }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body" ng-cloak>
            {{ '2189898989' | phone:'local':55 }}
          </div>
          <div class="panel-footer" ng-non-bindable>
            {{ '2189898989' | phone:'local':55 }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4>Countries Supported</h4>
  <p>Argentina, Brazil, Chile, Colombia, Ecuador, Paraguay, Peru, Uruguay and USA.</p>

  <hr>

  <div class="footer">
    <p>VTEX 2014</p>
  </div>
</div>

<script>
  angular.module("app", ["vtex.phoneFilter"])
      .controller("AppCtrl", function($scope) {
        $scope.getInfo = {value: "+1 (303) 448-1730"};
        $scope.format = {value: "13034481730"};
        $scope.validate = {value: "+1 (303) 448-1730"};

        $scope.$watch('getInfo.value', function(v) {
          var result = vtex.phone.getPhoneInternational(v);
          $scope.getInfo.result = JSON.stringify(result, undefined, 2);
        });

        $scope.$watch('validate.value', function(v) {
          $scope.validate.result = vtex.phone.validate(v);
        });
      });
</script>

</body>
</html>
