<!DOCTYPE html>
<html>
<head>
  <title>front.phone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="VTEX Lab">
  <meta name="description" content="front.phone is a Javascript library that identifies, validates and formats phone numbers.">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro:200,400,600">

  <link rel="stylesheet" href="/front.phone/style/style.css"/>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
  
  <!-- build:js /front.phone/script/vtex-phone-bundle.min.js -->
  <script src="/front.phone/script/vtex-phone-core.js"></script>
  <script src="/front.phone/script/countries/argentina.js"></script>
  <script src="/front.phone/script/countries/brazil.js"></script>
  <script src="/front.phone/script/countries/chile.js"></script>
  <script src="/front.phone/script/countries/colombia.js"></script>
  <script src="/front.phone/script/countries/ecuador.js"></script>
  <script src="/front.phone/script/countries/gbr.js"></script>
  <script src="/front.phone/script/countries/mexico.js"></script>
  <script src="/front.phone/script/countries/paraguay.js"></script>
  <script src="/front.phone/script/countries/peru.js"></script>
  <script src="/front.phone/script/countries/uruguay.js"></script>
  <script src="/front.phone/script/countries/usa.js"></script>
  <!-- endbuild -->

  <!-- build:js /front.phone/script/vtex-phone-filter.min.js -->
  <script src="/front.phone/script/vtex-phone-filter.js"></script>
  <!-- endbuild -->

</head>
<body ng-app="app">

  <div class="hero">
    <div class="container">
    <header>
      <h1>front.phone <small>v3.9.2</small></h1>
      <h2>A Javascript library that identifies, validates and formats phone numbers.</h2>
      <a href="https://github.com/vtex/front.phone" class="btn btn-lg btn-primary">See project on GitHub</a>

      <a href="https://github.com/vtex/front.phone/archive/v3.9.2.zip" class="btn btn-lg btn-default">Download</a>
    </header>
    </div>
  </div>

  <div class="social">
    <div class="container">
      <ul>
        <li><iframe class="github-btn" src="//vtex.github.io/tortin/github-btn.html?user=vtex&amp;repo=front.phone&amp;type=watch&amp;count=true" allowtransparency="true" width="100" height="20" title="Star on GitHub" frameborder="0"></iframe></li>
        <li><iframe class="github-btn" src="//vtex.github.io/tortin/github-btn.html?user=vtex&amp;repo=front.phone&amp;type=fork&amp;count=true" allowtransparency="true" width="102" height="20" title="Fork on GitHub" frameborder="0"></iframe></li>
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="vtexlab">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
      </ul>
    </div>
  </div>

  <div class="clipper"></div>

  <section class="content">
    <div class="container" ng-controller="AppCtrl">

      <div class="row">
        <p class="col-md-12">Full installation instructions and documentation <a href="https://github.com/vtex/front.phone">on GitHub</a>.</p>
      </div>

      <div class="row">
        <h3 class="col-md-4">Countries Supported</h3>
      </div>
      <div class="row">
        <ul class="list-inline countries col-md-12">
          <li><i class="flag flag-ar"></i> Argentina</li>
          <li><i class="flag flag-br"></i> Brazil</li>
          <li><i class="flag flag-cl"></i> Chile</li>
          <li><i class="flag flag-co"></i> Colombia</li>
          <li><i class="flag flag-ec"></i> Ecuador</li>
          <li><i class="flag flag-mx"></i> Mexico</li>
          <li><i class="flag flag-py"></i> Paraguay</li>
          <li><i class="flag flag-pe"></i> Peru</li>
          <li><i class="flag flag-uy"></i> Uruguay</li>
          <li><i class="flag flag-gb"></i> United Kingdom</li>
          <li><i class="flag flag-us"></i> USA</li>
          <li><i class="flag flag-blank"></i> <a href="https://github.com/vtex/front.phone#contributing">Add your own!</a></li>
        </ul>
      </div>

      <div class="row">
        <h2 class="col-md-12">API</h2>
      </div>

      <div class="row">
        <h3 class="col-md-12">
          <a href="https://github.com/vtex/front.phone#getting-phones-info">Get Phone Info</a>&nbsp;
          <small>vtex.phone.getPhoneInternational(<i>number</i>)</small>
        </h3>
      </div>
      <div class="row">
        <section class="col-md-4">
          <div class="form-group">
            <label for="get-info-input">Phone</label>
            <input id="get-info-input" type="text" class="form-control input-large phone" ng-model="getInfo.value" placeholder="+1 202 238-2700">

            <p class="readmore">
              <a href="https://github.com/vtex/front.phone#getting-phones-info">Read more</a> about how to get info of the phone number
            </p>
          </div>
        </section>
        <section class="col-md-8">
          <p>Result</p>
          <pre class="result" ng-cloak>{{ getInfo.result }}</pre>
        </section>
      </div>

      <div class="row">
        <h3 class="col-md-12">
          <a href="https://github.com/vtex/front.phone#formatting">Format</a>&nbsp;
          <small>vtex.phone.format(<i>frontPhoneObject</i>, <i>formatType</i>)</small>
        </h3>
      </div>
      <div class="row">
        <section class="col-md-4">
          <div class="form-group">
            <label for="format-input">Phone</label>
            <input id="format-input" type="text" class="form-control input-large phone" ng-model="format.value" placeholder="+12022382700">

            <p class="readmore">
              <a href="https://github.com/vtex/front.phone#formatting">Read more</a> about how to format a phone number
            </p>
          </div>
        </section>
        <section class="col-md-8">
          <p>Result</p>
          <p>International Format</p>
          <pre class="result" ng-cloak>{{ format.value | phone:'international' }}</pre>
          <p>National Format</p>
          <pre class="result" ng-cloak>{{ format.value | phone:'national' }}</pre>
          <p>Local Format</p>
          <pre class="result" ng-cloak>{{ format.value | phone:'local' }}</pre>
        </section>
      </div>

      <div class="row">
        <h3 class="col-md-12">
          <a href="https://github.com/vtex/front.phone#validation">Validate</a>&nbsp;
          <small>vtex.phone.validate(<i>number</i>)</small>
        </h3>
      </div>
      <div class="row">
        <section class="col-md-4">
          <div class="form-group">
            <label for="validate-input">Phone</label>
            <input id="validate-input" type="text" class="form-control input-large phone" ng-model="validate.value">

            <p class="readmore">
              <a href="https://github.com/vtex/front.phone#validation">Read more</a> about how to validate a phone number
            </p>
          </div>
        </section>
        <section class="col-md-8">
          <p>Result</p>
          <pre class="result" ng-cloak>{{ validate.result }}</pre>
        </section>
      </div>

      <hr>

      <div>
        <h2>AngularJS Support</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" ng-cloak>
                {{ '552189898989' | phone:'international' }}
              </div>
              <div class="panel-footer" ng-non-bindable>
                {{ '552189898989' | phone:'international' }}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" ng-cloak>
                {{ '552189898989' | phone:'national' }}
              </div>
              <div class="panel-footer" ng-non-bindable>
                {{ '552189898989' | phone:'national' }}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" ng-cloak>
                {{ '552189898989' | phone:'local' }}
              </div>
              <div class="panel-footer" ng-non-bindable>
                {{ '552189898989' | phone:'local' }}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" ng-cloak>
                {{ '2189898989' | phone:'international':55 }}
              </div>
              <div class="panel-footer" ng-non-bindable>
                {{ '2189898989' | phone:'international':55 }}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" ng-cloak>
                {{ '2189898989' | phone:'national':55 }}
              </div>
              <div class="panel-footer" ng-non-bindable>
                {{ '2189898989' | phone:'national':55 }}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body" ng-cloak>
                {{ '2189898989' | phone:'local':55 }}
              </div>
              <div class="panel-footer" ng-non-bindable>
                {{ '2189898989' | phone:'local':55 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="clipper-footer"></div>

    <footer>
      <div class="container">
            <div class="pull-left">
              <a href="http://lab.vtex.com.br" title="Designed and maintained by VTEX Lab and contributors">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="32" height="32" xml:space="preserve" viewbox="0 0 100 100" class="logo">
                <circle cx="50" cy="49" r="44" class="circle"/>
                <polygon points="59.9 28.3 75.5 28.3 50 81.6 42.2 65.2" class="polygon v-bigger"/>
                <polygon points="39.7 60.1 24.5 28.2 40.1 28.2 47.6 43.7" class="polygon"/>
              </svg>
              </a>
            </div><!-- logo -->

            <div class="pull-left">
              <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="//platform.twitter.com/widgets/follow_button.1403226798.html#_=1403800489144&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=vtexlab&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 237px; height: 20px;"></iframe>
            </div><!-- twitter -->

            <div class="pull-left">
              <p>Code licensed under <a href="http://opensource.org/licenses/MIT">MIT License</a>.</p>
            </div><!-- license -->

            <div class="pull-right">
              <a href="http://vtex.github.io/tortin">Get <strong>Tortin</strong> Theme</a>
            </div><!-- please? -->
      </div>
    </footer>
  </div>

  <script>
    angular.module("app", ["vtex.phoneFilter"])
        .controller("AppCtrl", function($scope) {
          $scope.getInfo = {value: "+1 (303) 448-1730"};
          $scope.format = {value: "13034481730"};
          $scope.validate = {value: "+1 (303) 448-1730"};

          $scope.$watch('getInfo.value', function(v) {
            var result = vtex.phone.getPhoneInternational(v);
            $scope.getInfo.result = JSON.stringify(result, undefined, 2);
          });

          $scope.$watch('validate.value', function(v) {
            $scope.validate.result = vtex.phone.validate(v);
          });
        });
  </script>

</body>
</html>
